/* Estilos generales */

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6ab04c;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Estilos para pantallas grandes y medianas */
/* ... Tus estilos anteriores aquí ... */

.contenedor-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #30336b;
}

.title_elements {
    display: flex;
    align-content: baseline;
    flex-direction: row;
    padding: 35px;
    align-items: center;
    /* margin-right: 250px; */
}

.title_elements img{
    /* margin-left: 20px; */
    /* font-size: 60px; */
    zoom: 40%;
    color: white;
}

.title_elements p a {
    font-size: 32px;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Amethysta', serif;
}

#lista-nav ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

#lista-nav {
    margin-left: 200px;
}

#lista-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
}

#lista-nav-mobile ul {
    display: none;
}

/* CONFIGURACIÓN DE SECCIÓN PRINCIPAL */

.cont_presentacion {
    position: relative;
    text-align: center;
}

.cont_presentacion img {
    width: 100%;
    height: 90%;
    opacity: 70%;
}

#seccion_principal .bienvenida .text_bienvenida p{
    width: max-content;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #192a56;
    font-size: 300%;
    font-family: 'Quicksand', sans-serif;
}

#seccion_principal .bienvenida .text_bienvenida_BACK p{
    width: max-content;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #192a56;
    font-size: 300%;
    font-family: 'Quicksand', sans-serif;
    background-color: #6ab04c;
    padding: 40px;
    border-radius: 40px;
    opacity: 70%;
}

#seccion_principal .bienvenida .introduccion p{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.introduccion {
    margin: 10px 100px 10px 100px;
}

#seccion_principal .bienvenida .introduccion_BACK p{
    color: white;
    background-color: #EA2027;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    opacity: 55%;
}

#seccion_principal .bienvenida .introduccion_BACK-mobile{
    display: none;
}

#seccion_principal .bienvenida .introduccion-mobile{
    display: none;
}

/* CONFIGURACIÓN DE SECCIÓN DESCRIPCIÓN */

#seccion_descripcion .contenedor_descripcion {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* position: relative; */
}

#seccion_descripcion {
    align-items: center;
}
.contenedor_descripcion {
    margin: 30px 40px 30px 40px;
}

#seccion_descripcion .contenedor_descripcion div p{
    text-align: justify;
    font-size: 25px;
    background: rgba(254, 32, 32, 0.7);
    padding: 40px;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #c7ecee;
}

#seccion_descripcion .contenedor_descripcion .texto p{
    margin-right: 20px;
    background: rgba(48, 51, 107, 0.6);
}

#seccion_descripcion .contenedor_descripcion div {
    margin-top: 70px;
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    align-items: center;
    gap: 80px;
}

#seccion_descripcion .contenedor_descripcion div img {
    border-radius: 40px;
}

#seccion_descripcion .contenedor_descripcion div #img1, #img3{
    zoom: 50%;
}

#seccion_descripcion .contenedor_descripcion div #img2{
    zoom: 70%;
}

/* CONFIGURACIÓN FOOTER */

#footer-conf {
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color: #30336b;
}

#footer-conf .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
    gap: 50%;
}

#footer-conf h2 {
    font-family: 'Quicksand', sans-serif;
    margin-left: 5%;
    color: antiquewhite;
}

#footer-conf .redes div a {
    text-decoration: none;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 120%;
}

/* MEDIA QUERIES PARA PANTALLAS PEQUEÑAS Y GRANDES */

@media (max-width: 1200px) {
    .contenedor-menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        background-color: green;
    }

    .title_elements {
        display: flex;
        align-content: baseline;
        flex-direction: row;
        padding: 50px;
        align-items: center;
        /* margin-right: 250px; */
    }

    .title_elements img{
        /* margin-left: 20px; */
        /* font-size: 60px; */
        zoom: 50%;
        color: white;
    }

    .title_elements p a {
        font-size: 25px;
        margin-left: 35px;
        color: white;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
        text-decoration: none;
        font-family: 'Amethysta', serif;
    }

    #lista-nav ul{
        display: flex;
        gap: 30px;
        list-style: none;
    }

    #lista-nav {
        margin-left: 10px;
    }

    #lista-nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-family: 'Exo', sans-serif;
    }

    #lista-nav-mobile ul {
        display: none;
    }

    /* CONFIGURACIÓN DE SECCIÓN PRINCIPAL */

    .cont_presentacion {
        position: relative;
        text-align: center;
    }

    .cont_presentacion img {
        width: 100%;
        height: 90%;
        opacity: 70%;
    }

    #seccion_principal .bienvenida .text_bienvenida p{
        width: max-content;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 210%);
        color: #192a56;
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
    }

    #seccion_principal .bienvenida .text_bienvenida_BACK p{
        width: max-content;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: #192a56;
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
        background-color: #6ab04c;
        padding: 40px;
        border-radius: 40px;
        opacity: 70%;
    }

    .introduccion {
        margin: 10px 100px 10px 100px;
    }

    #seccion_principal .bienvenida .introduccion p{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 160%);
        width: max-content;
        height: max-content;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
    }

    #seccion_principal .bienvenida .introduccion_BACK p{
        color: white;
        background-color: #EA2027;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 160%);
        width: max-content;
        height: max-content;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        opacity: 55%;
    }

    #seccion_principal .bienvenida .introduccion-mobile p {
        display: none;
    }

    #seccion_principal .bienvenida .introduccion_BACK-mobile p {
        display: none;
    }

    /* CONFIGURACIÓN DE SECCIÓN DESCRIPCIÓN */

    #seccion_descripcion .contenedor_descripcion {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        /* position: relative; */
    }

    #seccion_descripcion {
        align-items: center;
    }
    .contenedor_descripcion {
        margin: 30px 40px 30px 40px;
    }

    #seccion_descripcion .contenedor_descripcion div p{
        text-align: justify;
        font-size: 25px;
        background: rgba(254, 32, 32, 0.7);
        padding: 40px;
        border-radius: 20px;
        font-family: 'Quicksand', sans-serif;
        color: #c7ecee;
    }

    #seccion_descripcion .contenedor_descripcion .texto p{
        margin-right: 20px;
        background: rgba(48, 51, 107, 0.6);
    }

    #seccion_descripcion .contenedor_descripcion div {
        margin-top: 70px;
        margin-left: 90px;
        margin-right: 90px;
        display: flex;
        flex-direction: row;
        align-content: baseline;
        align-items: center;
        gap: 80px;
    }

    #seccion_descripcion .contenedor_descripcion div img {
        border-radius: 40px;
    }

    #seccion_descripcion .contenedor_descripcion div #img1, #img3{
        zoom: 50%;
    }

    #seccion_descripcion .contenedor_descripcion div #img2{
        zoom: 70%;
    }

    /* CONFIGURACIÓN FOOTER */

    #footer-conf {
        display: flex;
        flex-direction: row;
        padding: 2%;
        background-color: #30336b;
    }

    #footer-conf .redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30%;
        gap: 20%;
    }

    #footer-conf h2 {
        font-family: 'Quicksand', sans-serif;
        margin-left: 5%;
        color: antiquewhite;
    }

    #footer-conf .redes div a {
        text-decoration: none;
        color: white;
        font-family: 'Exo', sans-serif;
        font-size: 120%;
    }
}

@media only screen and (max-width: 760px){
    /* Ajustes para pantallas pequeñas */

    /* ... Ajustes para pantallas pequeñas ... */

    .contenedor-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        background-color: blueviolet;
    }

    .title_elements {
        margin-top: 30px;
        display: flex;
        align-content: baseline;
        flex-direction: row;
        padding: 10px;
        align-items: center;
        /* margin-right: 250px; */
    }

    .title_elements img{
        /* margin-left: 20px; */
        /* font-size: 60px; */
        zoom: 30%;
        color: white;
    }

    .title_elements p a {
        font-size: 25px;
        /* margin-left: 35px; */
        color: white;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
        text-decoration: none;
        font-family: 'Amethysta', serif;
    }

    #lista-nav ul{
        display: none;
    }

    #lista-nav-mobile ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 40px;
    }

    #lista-nav-mobile ul li a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-family: 'Exo', sans-serif;
    }

    /* CONFIGURACIÓN DE SECCIÓN PRINCIPAL */

    .cont_presentacion {
        position: relative;
        text-align: center;
    }

    .cont_presentacion img {
        width: 100%;
        height: 90%;
        opacity: 70%;
    }

    #seccion_principal .bienvenida .text_bienvenida p{
        width: max-content;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -10%);
        color: white;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }

    #seccion_principal .bienvenida .text_bienvenida_BACK p{
        width: max-content;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
        color: white;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
        background-color: red;
        padding: 20px;
        border-radius: 10px;
        opacity: 70%;
    }

    #seccion_principal .bienvenida .introduccion p{
        display: none;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: max-content;
        height: max-content;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
    }

    .introduccion {
        margin: 10px 100px 10px 100px;
    }

    #seccion_principal .bienvenida .introduccion_BACK p{
        display: none;
        color: white;
        background-color: #EA2027;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 160%);
        width: max-content;
        height: max-content;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        opacity: 55%;
    }

    #seccion_principal .bienvenida .introduccion-mobile p{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -160%);
        width: max-content;
        height: max-content;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    #seccion_principal .bienvenida .introduccion_BACK-mobile p{
        color: white;
        background-color: blue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: max-content;
        height: max-content;
        font-size: 14px;
        font-family: 'Quicksand', sans-serif;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        opacity: 55%;
    }

    /* CONFIGURACIÓN DE SECCIÓN DESCRIPCIÓN */

    #seccion_descripcion .contenedor_descripcion {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        /* position: relative; */
    }

    #seccion_descripcion {
        align-items: center;
    }
    /* .contenedor_descripcion {
        margin: 30px 10px 30px 10px;
    } */

    #seccion_descripcion .contenedor_descripcion div p{
        text-align: justify;
        font-size: 15px;
        background: rgba(254, 32, 32, 0.7);
        padding: 15px;
        border-radius: 10px;
        font-family: 'Quicksand', sans-serif;
        color: #c7ecee;
    }

    #seccion_descripcion .contenedor_descripcion .desc_1 p{
        font-size: 15px;
    }

    #seccion_descripcion .contenedor_descripcion .texto p{
        margin-right: 30px;
        background: rgba(48, 51, 107, 0.6);
    }

    #seccion_descripcion .contenedor_descripcion div {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        align-content: baseline;
        align-items: center;
        gap: 30px;
    }

    #seccion_descripcion .contenedor_descripcion div img {
        border-radius: 40px;
    }

    #seccion_descripcion .contenedor_descripcion div #img1, #img3{
        zoom: 30%;
    }

    #seccion_descripcion .contenedor_descripcion div #img2{
        zoom: 40%;
    }

    /* CONFIGURACIÓN FOOTER */

    #footer-conf {
        display: flex;
        flex-direction: row;
        padding: 2%;
        background-color: #30336b;
    }

    #footer-conf .redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
        gap: 10%;
    }

    #footer-conf h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        margin-left: 2%;
        color: antiquewhite;
    }

    #footer-conf .redes div a {
        text-decoration: none;
        color: white;
        font-family: 'Exo', sans-serif;
        font-size: 15px;
    }
}

/* Ajustes adicionales para pantallas muy grandes (si es necesario) */
@media (min-width: 1600px) {
    /* ... Ajustes para pantallas muy grandes ... */

    body, html {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #6ab04c;
        margin: 0;
        padding: 0;
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    /* Estilos para pantallas grandes y medianas */
    /* ... Tus estilos anteriores aquí ... */
    
    .contenedor-menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        background-color: black;
    }
    
    .title_elements {
        display: flex;
        align-content: baseline;
        flex-direction: row;
        padding: 35px;
        align-items: center;
        /* margin-right: 250px; */
    }
    
    .title_elements img{
        /* margin-left: 20px; */
        /* font-size: 60px; */
        zoom: 40%;
        color: white;
    }
    
    .title_elements p a {
        font-size: 32px;
        margin-left: 30px;
        color: white;
        text-decoration: none;
        font-family: 'Amethysta', serif;
    }
    
    #lista-nav ul{
        display: flex;
        gap: 60px;
        list-style: none;
    }
    
    #lista-nav {
        margin-left: 700px;
    }
    
    #lista-nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: 'Exo', sans-serif;
    }
    
    #lista-nav-mobile ul {
        display: none;
    }
    
    /* CONFIGURACIÓN DE SECCIÓN PRINCIPAL */
    
    .cont_presentacion {
        position: relative;
        text-align: center;
    }
    
    .cont_presentacion img {
        width: 100%;
        height: 90%;
        opacity: 70%;
    }
    
    #seccion_principal .bienvenida .text_bienvenida p{
        width: max-content;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #192a56;
        font-size: 300%;
        font-family: 'Quicksand', sans-serif;
    }
    
    #seccion_principal .bienvenida .text_bienvenida_BACK p{
        width: max-content;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #192a56;
        font-size: 300%;
        font-family: 'Quicksand', sans-serif;
        background-color: #6ab04c;
        padding: 40px;
        border-radius: 40px;
        opacity: 70%;
    }
    
    #seccion_principal .bienvenida .introduccion p{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: max-content;
        height: max-content;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
    }
    
    .introduccion {
        margin: 10px 100px 10px 100px;
    }
    
    #seccion_principal .bienvenida .introduccion_BACK p{
        color: white;
        background-color: #EA2027;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: max-content;
        height: max-content;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        opacity: 55%;
    }
    
    #seccion_principal .bienvenida .introduccion_BACK-mobile{
        display: none;
    }
    
    #seccion_principal .bienvenida .introduccion-mobile{
        display: none;
    }
    
    /* CONFIGURACIÓN DE SECCIÓN DESCRIPCIÓN */
    
    #seccion_descripcion .contenedor_descripcion {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        /* position: relative; */
    }
    
    #seccion_descripcion {
        align-items: center;
    }
    .contenedor_descripcion {
        margin: 30px 40px 30px 40px;
    }
    
    #seccion_descripcion .contenedor_descripcion div p{
        text-align: justify;
        font-size: 25px;
        background: rgba(254, 32, 32, 0.7);
        padding: 40px;
        border-radius: 20px;
        font-family: 'Quicksand', sans-serif;
        color: #c7ecee;
    }
    
    #seccion_descripcion .contenedor_descripcion .texto p{
        margin-right: 20px;
        background: rgba(48, 51, 107, 0.6);
    }
    
    #seccion_descripcion .contenedor_descripcion div {
        margin-top: 70px;
        margin-left: 90px;
        margin-right: 90px;
        display: flex;
        flex-direction: row;
        align-content: baseline;
        align-items: center;
        gap: 80px;
    }
    
    #seccion_descripcion .contenedor_descripcion div img {
        border-radius: 40px;
    }
    
    #seccion_descripcion .contenedor_descripcion div #img1, #img3{
        zoom: 50%;
    }
    
    #seccion_descripcion .contenedor_descripcion div #img2{
        zoom: 70%;
    }
    
    /* CONFIGURACIÓN FOOTER */
    
    #footer-conf {
        display: flex;
        flex-direction: row;
        padding: 2%;
        background-color: #30336b;
    }
    
    #footer-conf .redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40%;
        gap: 50%;
    }
    
    #footer-conf h2 {
        font-family: 'Quicksand', sans-serif;
        margin-left: 5%;
        color: antiquewhite;
    }
    
    #footer-conf .redes div a {
        text-decoration: none;
        color: white;
        font-family: 'Exo', sans-serif;
        font-size: 120%;
    }

}


/* <div class="introduccion">
                    <p>La Robótica Simulada ha emergido con fuerza en estos últimos años dando lugar a nuevas oportunidades para los jóvenes. <br>¡ Desde el <strong> Instituto de Innovación y Tecnología Aplicada (IITA) </strong> nos proponemos comentarte un poco acerca de esta nueva manera <br> de hacer robótica educativa ! </p> */